<script setup lang="ts">
import { ref } from "vue";

const framelist = ref([
  {
    list: "การออกแบบหน้าเว็บไซต์",
  },
  {
    list: "การสร้างตัวละครในเกม",
  },
]);
</script>
<template>
  <v-card class="mx-auto" max-width="344">
    <v-img
      height="100%"
      cover
      src="https://t4.ftcdn.net/jpg/03/58/10/87/360_F_358108785_rNJtmort9m65M3pft5swd7lnKJcTCB8u.jpg"
    >
      <v-avatar size="200" rounded="5">
        <v-img
          src="https://reg.buu.ac.th/registrar/getstudentimage.asp?id=63160226"
          cover
        ></v-img>
      </v-avatar>
      <div style="color: white">
        <v-card-title style="text-align: left"
          ><v-col>นาย สาธิต วาปีเตา</v-col>
        </v-card-title>

        <v-card-text style="padding-left: 35pt">
          <v-row style="font-size: 14pt">ประวัติการศึกษา</v-row>
          <v-row>กำลังศึกษาอยู่ที่ มหาวิทยาลัยบูรพา</v-row>
          <v-row>คณะวิทยาการสารสนเทศ</v-row>
          <v-row>สาขาวิชา วิทยาการคอมพิวเตอร์</v-row>
        </v-card-text>

        <v-table theme="dark">
          <thead>
            <tr>
              <th style="text-align: center; font-size: medium">สิ่งที่สนใจ</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr v-for="item in framelist" :key="item.list">
              <td>{{ item.list }}</td>
            </tr>
          </tbody>
        </v-table>
      </div>
    </v-img>
  </v-card>
</template>
